.form-input {
  border-radius: 5px;
  padding: 10px;
  font-size: large;
  margin-bottom: 20px;
}

.date-picker {
  font-size: large;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.date-container {
  display: flex;
  justify-content: flex-start;
}

.container {
  width: 237px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
}

.search-form-slider-container {
  border: 1px solid salmon;
  padding: 10px;
}