.slider-container {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f9fafb;
}

.slider-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 6px;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #d83d05;
}
