.slider-container {
  border: 1px solid black;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 6px;
}