.middle-container {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

.sub-header-available-flights-container {
  width: 100%;
}

.available-flights {
  border: 1px solid #e2e3e6;
  background-color: #e2e3e6;
  margin-top: 25px;
}

.search-form-slider-container {
  padding: 10px;
  margin-right: 25px;
  background-color: #e2e3e6;
}

.btn {
  cursor: pointer;
  background: #d83d05;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: none;
}

button:focus {
  outline: 0;
}

.btn:hover {
  background: #d8000f;
}
